
/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .input-group {
    display: flex; /* Use flexbox to align items horizontally */
    width: 100%;
  }
  
  .input-group-text {
    padding: 8px;
    background-color: #f8f9fa; /* Background color for the icon container */
    border: 1px solid #ccc; /* Border color for the icon container */
    border-radius: 5px 0 0 5px; /* Rounded border for the left side of the icon container */
  }
  
  .input-group input {
    flex: 1; /* Allow the input field to grow to fill the remaining space */
    border-radius: 0 5px 5px 0; /* Rounded border for the right side of the input field */
  }
  

  .login-content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .login-form button {
    margin-top: 20px;
  }
  
  .login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .login-links .btn-link {
    padding: 0;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
    .register-links link {
      background-color: transparent;
      border: none;
      color: #007bff;
      cursor: pointer;
    }
    
    .register-links link:hover {
      text-decoration: underline;
    }
